:root {
  --heading-font-family: "Bricolage Grotesque", sans-serif;
  --default-font-family: "Josefin Sans", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: lightblue;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
  url("../images/travel-header.avif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  aspect-ratio: 16 / 9;

}

h1 {
  font-family: var(--heading-font-family);
  font-size: 40px;
  padding-top: 30px;
}

h2 {
  font-family: var(--default-font-family);
  font-size: 70px;
  line-height: 1.5;
  font-weight:500;
  
}

header a {
  font-size: 12px;
  color: #097CA4;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
  padding: 8px;
  display: inline-block;
  margin-bottom: 20px;
  border-radius: 3px;
}

.byline {
  margin-top: 30px;
  text-align: center;
  color: grey;
  font-size: 12px;
}

footer {
  background-image: linear-gradient(rgba(0, 106, 204, 0.6), rgba(0, 106, 204, 0.6)), 
  url("../images/travel-footer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  aspect-ratio: 21 / 6;
  padding: 15px;
}

footer h3 {
  font-family: var(--heading-font-family);
  
}

footer p {
  
}

footer ul {
  padding: 0;
}

footer li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 20px;
}

footer a {
  color: darkblue;
  text-decoration: none;
}

section {
  max-width: 1000px;
}



@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  h1 {
    font-size: 20px;
    padding-top: 2px;
  }
  h2 {
    font-size: 35px;
  }
}

