:root {
  --heading-font-family: "Bricolage Grotesque", sans-serif;
  --default-font-family: "Josefin Sans", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: lightblue;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
  url("../images/travel-header.avif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  aspect-ratio: 16 / 9;

}

h1 {
  font-family: var(--heading-font-family);
  font-size: 40px;
  padding-top: 30px;
}

h2 {
  font-family: var(--default-font-family);
  font-size: 70px;
  line-height: 1.5;
  font-weight:500;
  
}

header a {
  font-size: 12px;
  color: #097CA4;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
  padding: 8px;
  display: inline-block;
  margin-bottom: 20px;
  border-radius: 3px;
}

.grid {
  display: grid;
  padding: 15px;
}

main {
  background-color: white;
}

section {
  margin: 0 auto;
  padding: 100px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.value {
  width: 450px;
}

.why {
  font-size: 19px;
  font-weight: 300;
}


h3 {
  font-family: var(--heading-font-family);
  margin: 0;
  margin-bottom: 8px;
}

h4 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  margin: 0;
  font-size: 18px;
}

.author {
  color: grey;
}

.secondary {
  background-color: azure;
  padding: 0px;
  max-width: 1200px;
  
}

.why-travel {
  color: #097CA4;
}

.grid-photo-embed {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  background-color: white;
  margin: 5px;
  padding: 25px;
  border-color: #097CA4;
  border-style: solid;
  max-width: 300px;
}


.card-quote {
  text-align: center;
  color: #097CA4;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 100%;
}


h5 {
  font-family: var(--heading-font-family);
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
  color:#097CA4;
  padding-top: 20px;
}

h6 {
  font-family: var(--heading-font-family);
  font-size: 16px;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 10px;
}

.btn {
  display: block;
  color: white;
  background-color: #097CA4;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  margin: 15px;
  border-radius: 4px;
}

.byline {
  margin-top: 30px;
  text-align: center;
  color: grey;
  background-color: lightblue;
  font-size: 12px;
  padding: 20px;
}

.kw-logo {
  display: none;
}

footer {
  background-image: linear-gradient(rgba(0, 106, 204, 0.6), rgba(0, 106, 204, 0.6)), 
  url("../images/travel-footer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  aspect-ratio: 16 / 6;
}

footer h3 {
  font-family: var(--heading-font-family);
  margin-top: 50px;
  
}


footer ul {
  padding: 0;
}

footer li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.grid-footer {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

footer a {
  color: darkblue;
  text-decoration: none;
}

.embed-headline {
  color:#097CA4;
  font-family: var(--heading-font-family);
  font-size: 60px;
  font-weight: 900;
  padding: 60px 0;
}

.video {
  margin: 0 auto;
}

.grid-embed {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

hr {
  display: none;
}

@media (max-width: 960px) {
  
  header {
    padding: 60px 0;
  }

  h1 {
    font-size: 20px;
    padding-top: 2px;
  }
  h2 {
    font-size: 35px;
  }

  .value {
    display: none;
  }

  .why {
    font-size: 16px;
  }

  h5 {
    font-size: 25px;
  }

  .embed-headline {
    font-size: 30px;
    text-align: center;
    padding: 5px
  }

  .video {
    display: flex;
    justify-content: center;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }

  section {
    padding: 30px;
  }

  footer h3 {
    margin-top: 5px;
  }
  
  hr {
    display: block;
  }

  .byline {
    line-height: 1.5;
  }

  .kw-logo {
    display: block;
    margin: 0 auto;
    padding: 10px
   
  }
}

